
{% extends "extends/shell.html" %}
{% load static %}

{% block page_content %}


         
           

            <!-- CARDS -->
            <div class="row g-3 mb-4">
              <div class="col-md-3 col-6">
                <div class="card card-custom p-3">
                  <div class="row align-items-center">
                    <div class="col-3 icons-side">
                      <div class="total-badge-bg sicon text-center">
                        <i class="bi bi-check2-all s5"></i>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="top">
                        <small class="s3">Total Cycle</small>
                      </div>
                      <p class="s4 bolder mb-0">{{count.total | default:"0"}}</p>
                      <small class="text-dark s1">All Time</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="card card-custom p-3">
                  <div class="row align-items-center">
                    <div class="col-3 icons-side">
                      <div class="success-badge-bg sicon text-center">
                        <i class="bi bi-check-circle s5"></i>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="top">
                        <small class="s3">Active Cycles</small>
                      </div>
                      <p class="s4 bolder mb-0">{{count.active | default:"0"}}</p>
                      <small class="text-dark s1">Currently active</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="card card-custom p-3">
                  <div class="row align-items-center">
                    <div class="col-3 icons-side">
                      <div class="danger-badge-bg sicon text-center">
                        <i class="bi bi-check-circle s5"></i>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="top">
                        <small class="s3">Inactive </small>
                      </div>
                      <p class="s4 bolder mb-0">{{count.pending | default:"0"}}</p>
                      <small class="text-dark s1">Inactive cycles</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-6">
                <div class="card card-custom p-3">
                  <div class="row align-items-center">
                    <div class="col-3 icons-side">
                      <div class="closed-badge-bg sicon text-center">
                        <i class="bi bi-check2-circle s5"></i>
                      </div>
                    </div>
                    <div class="col-auto">
                      <div class="top">
                        <small class="s3">Closed Cycles </small>
                      </div>
                      <p class="s4 bolder mb-0">{{count.completed| default:"0"}}</p>
                      <small class="text-dark s1">Completed Cycles</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- BOTTOM -->
            <div class="row  white-bg py-0 rounded-2">
              <!-- TASKS -->
              <div class="col-md-12">
                <div class="card  h-100 p-0 white-bg">
                  <div
                    class="row gy-0 justify-content-between bg-light rounded-top-2 py-2 align-items-center"
                  >
                    <div class="col-6 d-flex gap-3">
                      <span
                        ><a href="#" class="tab-link bold active-tab s3"
                          >All cycle</a
                        ></span
                      >
                      <span
                        ><a href="#" class="tab-link bold"
                          >Active
                          <span
                            class="rounded-pill px-1 bg-success text-white s1"
                            >{{count.active | default:"0"}}</span
                          ></a
                        ></span
                      >
                      <span
                        ><a href="#" class="tab-link bold"
                          >Inactive
                          <span
                            class="rounded-pill px-1 bg-danger text-white s1"
                            >{{count.pending | default:"0"}}</span
                          ></a
                        ></span
                      >
                      <span
                        ><a href="#" class="tab-link bold"
                          >Closed
                          <span
                            class="rounded-pill px-1 bg-dark text-white s1"
                            >{{count.completed | default:"0"}}</span
                          ></a
                        ></span
                      >
                    </div>

                    <div
                      class="col-6 text-end d-flex justify-content-end align-items-center gap-3"
                    >
                      <form action="#" method="get">
                        <input
                          type="search"
                          class="form-control"
                          name="searchTask"
                          id="searchTask"
                          placeholder="Search Task..."
                        />
                      </form>

                      <span
                        ><a href="#" class="tab-link s3"
                          ><i class="bi bi-funnel"></i> Filter</a
                        ></span
                      >
                      <span
                        ><a href="#" class="tab-link s3"
                          ><i class="bi bi-sort-down"></i> sort</a
                        ></span
                      >
                    </div>
                  </div>

                  <div class="row py-2 table-responsive">
                    <table id="myTable" class="table ">
                      <thead>
                        <tr>
                          <th scope="col" colspan="2">Cycle</th>
                          <th scope="col">Type</th>
                          <th scope="col">Enterprise</th>
                          <th scope="col">Start Date</th>
                          <th scope="col">End Date</th>
                          <th scope="col">Progress</th>
                          <th scope="col">Status</th>
                          <th scope="col">Profit</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% include "partials/desktop/cycles.html" %}
                      </tbody>
                    </table>
                  </div>

                  <!-- pagination -->
                  <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="col-md-6">
          <p class="s2 light-color">
            Showing {{ tasks.start_index }} to {{ tasks.end_index }} of {{tasks.paginator.count }} Tasks
          </p>
        </div>

        <div class="col-md-6">
          <div class="row justify-content-end">
            <div class="col-auto">
              <ul class="pagination s2">
                {% if cycles.has_previous %}
                <li class="page-item">
                  <a
                    class="page-link view-link"
                    href="?page={{ cycles.previous_page_number }}&status={{ current_state }}&view=desktop"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %} {% for num in cycles.paginator.page_range %}
                <li
                  class="page-item {% if cycles.number == num %}active{% endif %}"
                >
                  <a class="page-link view-link" href="?page={{ num }}&status={{ current_state }}&view=desktop">
                    {{ num }}
                  </a>
                </li>
                {% endfor %} {% if cycles.has_next %}
                <li class="page-item">
                  <a
                    class="page-link view-link"
                    href="?page={{ cycles.next_page_number }}&status={{current_state}}&view=desktop"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
                </div>
              </div>
            </div>
      
       

{% endblock page_content %}