{% extends "extends/shell.html" %}

{% block page_content %}
                    <div class="mt-2 d-none d-md-block text-end mb-5">
                        <button class="btn secondary-btn s1 me-2">
                            <span><i class="bi bi-pen me-1"></i></span>Edit cycle
                        </button>
                        <button class="btn secondary-btn s1 me-2 ">
                            <span><i class="bi bi-download me-1"></i></span> Download report
                        </button>
                        <button class="btn primary-btn s1 dropdown-toggle" type="button" id="dropdownActivities"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Add Activity
                        </button>
                    </div>

                    <div class="d-none d-md-none text-end mb-4">
                         <button class="btn primary-btn s1 dropdown-toggle" type="button" id="dropdownActivities"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Quick Actions
                        </button>
                    </div>

                   
                    <div class="row g-3 mb-3 ">
                        <div class="p-2  card oder1">
                            <div class="row align-items-center justify-content-center gx-2">
                                <div class="col-12  col-md-5  d-flex gap-2 p-0">
                                    <div class="  col-4">
                                        <div class="card h-100 bg-success">
                                            <img src="" alt="" srcset="">
                                        </div>

                                    </div>
                                    <div class="col-8 gx-2 ">
                                        <div class=" justify-contents-between align-items-center mb-2">
                                            <div><p class="s2 bold mb-0">Maize Dry Season (45day)</p></div>
                                            <span class="badge success-badge-bg badge-pills">Active</span>
                                        </div>
                                        <div class="d-flex align-items-start mb-2">
                                            <div class="sicon light-color">
                                                <span><i class="bi bi-people-fill me-3"></i></span>
                                            </div>
                                            <div class="light-color s2">
                                                <p class=" mb-0 bold">Enterprise</p>
                                                <small>{{cycle.enterprise}}</small>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-start mb-2">
                                            <div class="sicon light-color">
                                                <span><i class="bi bi-people-fill me-3"></i></span>
                                            </div>
                                            <div class="light-color s2">
                                                <p class=" mb-0 bold">Crop Type</p>
                                                <small>{{cycle.cycle_type}}(Maize)</small>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-start">
                                            <div class="sicon light-color">
                                                <span><i class="bi bi-geo-alt me-3"></i></span>
                                            </div>
                                            <div class="light-color s2">
                                                <p class=" mb-0 bold">Location</p>
                                                <small>Lagos, Nigeria</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 px-2 card mu1">
                                    <div class="row">
                                        <div class="border-0 col-12 col-md-3">
                                            <p class="s1 light-color bold">Cycle Progress</p>
                                            <P class="s4 fs-lg-2 bold mb-0">45%</P>
                                            <div class="progress mb-1 col-9">
                                                <div class="progress-bar bg-success" style="width:45%"></div>
                                            </div>
                                            <p class="s1">45 days of 100</p>
                                        </div>

                                        <div class="  border-0 col-12 col-md-2 ">
                                           <div class="row">
                                             <div class="col-6 col-lg-12">
                                                <span class="s1 light-color bold">Start Date</span>
                                            </div>

                                            <div class="col-6 col-lg-12 text-end text-lg-start ">
                                                <span class="s1 bold"><span class="me-2"><i
                                                        class="bi bi-calendar"></i></span>{{cycle.start_date}}</span>
                                            </div>
                                           </div>
                                        </div>

                                        <div class=" border-0 col-12 col-md-3">
                                            <div class="row">
                                                <div class="col-6 col-lg-12 ">
                                                    <span class="s1 light-color bold">Expected End Date</span>

                                            
                                                </div>
                                                <div class="col-6 col-lg-12 text-end text-lg-start ">
                                                    <span class="s1 bold"><span class="me-2"><i
                                                        class="bi bi-calendar"></i></span>Jan 8, 2025 <br></b>(100 days)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class=" border-0 col-12 col-md-2">
                                            <div class="row">
                                                <div class="col-6 col-lg-12">
                                                    <span class="s1 light-color bold">Days Elapsed</span>
                                                </div>
                                                <div class="col-6 col-lg-12 text-end text-lg-start">
                                                    <span class=" s1"><span class="me-2"><i class="bi bi-clock"></i></span>45 days
                                                </span>
                                                </div>
                                            </div>
                                        </div>

                                         <div class=" border-0 col-12 col-md-2">
                                            <div class="row">
                                                <div class="col-6 col-lg-12">
                                                    <span class="s1 light-color bold">Days Remaining</span>
                                                </div>
                                                <div class="col-6 col-lg-12 text-end text-lg-start ">
                                                    <span class=" s1"><span class="me-2"><i class="bi bi-clock"></i></span>45 days
                                                </span>
                                                </div>
                                            </div>
                                        </div>

                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                         <div class="col-md-8  d-none d-md-block">
                            <div class="col-12 card h-100 card-custom p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="s3 bolder">Recent Activities</h6>
                                    <p class="text-end"><a href="#" class="view-link nav-link">View all</a></p>
                                </div>

                                <div class="col-12 table-responsive">
                                    <table id="myTable" class="table table-responsive">
                                        <thead>
                                            <tr class="s2">

                                                <th scope="col" colspan="2">Activity</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Date </th>
                                                <th scope="col">Quantity/Detail</th>
                                                <th scope="col">Cost</th>
                                                <th scope="col">Record By</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody class="s1">

                                           {% for activity in activities %}
                                           
                                             <tr>
                                                <td><span class="badge  danger-badge-bg py-2"><i class="bi bi-egg"></i></span></td>
                                                <td>
                                                    <p class="s1 bold mb-0 p-color"> {{activity.title}}</p>
                                                    <small class="s1">{{activity.description}}</small>
                                                </td> 

                                                <td><span class="badge success-badge-bg">{{activity.type}}</span></td>
                                                <td>May 8, 2025</td>
                                                <td><span>5kg</span></td>
                                                <td><span>₦20000</span></td>
                                                <td><span>Franklin</span></td>
                                                <td><i class="bi bi-three-dots-vertical"></i></td>
                                            </tr>

                                           
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4 oder2">
                            <div class="card oder2 custom-card p-3 mb-4">
                                <div class="row">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="s3 bolder">Financial Summary</h6>
                                    <p class="text-end"><a href="#" class="view-link s2 nav-link">View all</a></p>
                                    </div>
                                </div>
                               
                                <div class="row  justify-content-center align-items-center gap-2">
                                
                                    <div class="col-5   px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="danger-badge-bg s4 ssicon"><i class="bi bi-arrow-down"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">Total Cost</p>
                                                <p class="mb-0 s2 bolder mb-0">₦223,600</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-5  px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="success-badge-bg s4 ssicon"><i class="bi bi-arrow-up"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">Total Income</p>
                                                <p class="mb-0 s2 bolder mb-0">₦223,600</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-5  px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="primary-badge-bg s4 ssicon"><i class="bi bi-bag-plus-fill"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">Net Pofit</p>
                                                <p class="mb-0 s2 bolder mb-0">₦223,600</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-5  px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="warning-badge-bg s4 ssicon"><i class="bi bi-percent"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">RIO</p>
                                                <p class="mb-0 s2 bolder mb-0">162.5%</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card  oder1 p-3">
                                <div class="top-info ">
                                    <h6 class="s3 bolder">Cycle Infomation</h6>
                                </div>
                                <div class="table-info">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td class="s2 light-color">Cycle Name</td>
                                                <td class="s2">Maize Dry Season (Day 45)</td>
                                            </tr>

                                            <tr>
                                                <td class="s2 light-color">Cycle Type</td>
                                                <td class="s2">Crop (Maize)</td>
                                            </tr>


                                            <tr>
                                                <td class="s2 light-color">Vaiety</td>
                                                <td class="s2">obadanpa</td>
                                            </tr>

                                            <tr>
                                                <td class="s2 light-color">Total Area</td>
                                                <td class="s2">5 Acres</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        

                        <!-- MOBILE ACTIVITIES -->
                        <div class="col-12  d-md-none oder3 ">
                            

                            <!-- ACTIVITY LIST -->
                            <div class="d-flex card bg-light flex-column gap-2 mt-2">
                                <div class="row">
                                 <div class="d-flex justify-content-between align-items-center px-4">
                                    <h6 class="s3 bolder">Recent Activities</h6>
                                    <p class="text-end"><a href="#" class="view-link nav-link">View all</a></p>
                                </div>
                            </div>
                                <!-- CARD -->
                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>
                                <!-- END CARD -->

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>
                               

                            </div>

                        </div>


                    </div>
                </div>


{% endblock page_content %}

              