<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leif Dashboard</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="sidebar col-lg-2" id="sidebar">
                <div class="menu-top-logo mb-2 text-start py-3">
                    <h4 class="logo text-white">🌿 Leif</h4>
                </div>

                <div class="side-menu">
                      <a href="index.html" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    <a href="enterprise_list.html"><i class="bi bi-grid"></i> Enterprise</a>
                    <a href="activities_list.html"><i class="bi bi-check-circle"></i> Activities</a>
                    <a href="assets.html"><i class="bi bi-box"></i> Assets</a>
                    <a href="task_list.html"><i class="bi bi-list-task"></i> Task</a>
                    <a href="transactions_list.html"><i class="bi bi-currency-dollar"></i> Transactions</a>
                    <a href="analytics.html"><i class="bi bi-bar-chart"></i> Analytics</a>
                    <a href="staff2.html"><i class="bi bi-people"></i> Staff</a>
                    <a href="settings.html"><i class="bi bi-gear"></i> Settings</a>
                </div>
            </div>


            <!-- MAIN -->
            <div class="main  col-lg-10 ">

                <!-- TOP BAR -->

                <nav class="navbar topbar navbar-expand-lg navbar-light bg-light ">
                    <div class="container-fluid px-0 ">
                        <a class="navbar-brand s4 bold" href="#">Cycle Detail</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#mobilemenu" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="topbar-pane">
                            <div class="row align-items-center g-auto">
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary switcher dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Green Valley Farm
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li class="dropdown-item" href="#">Poultry Farm</li>
                                            <li class="dropdown-item" href="#">Gaot Farm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row d-flex align-items-center profile-pane gap-2">
                                        <div class="profile-img col-2">
                                            <img src="https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small_2x/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"
                                                alt="" class="rounded-pill" width="32px">

                                        </div>
                                        <div class="col-auto profile-text">
                                            <p class="s2 bold mb-0">Franklin Okolo</p>
                                            <small class="s1">Farm Manager</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>


                <div class="main-content mb-5">
                    <div class="mt-3 d-flex gap-3 d-none d-md-block justify-content-end mb-4">
                        <button class="btn secondary-btn s1">
                            <span><i class="bi bi-pen me-1"></i></span>Edit cycle
                        </button>
                        <button class="btn secondary-btn s1 ">
                            <span><i class="bi bi-download me-1"></i></span> Download report
                        </button>
                        <button class="btn primary-btn s1 dropdown-toggle" type="button" id="dropdownActivities"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Add Activity
                        </button>
                    </div>

                    <div class="d-none d-md-none text-end mb-4">
                         <button class="btn primary-btn s1 dropdown-toggle" type="button" id="dropdownActivities"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Quick Actions
                        </button>
                    </div>

                   
                    <div class="row g-3 mb-3 ">
                        <div class="p-2  card oder1">
                            <div class="row align-items-center justify-content-center gx-2">
                                <div class="col-12  col-md-5  d-flex gap-2 p-0">
                                    <div class="  col-4">
                                        <div class="card h-100 bg-success">
                                            <img src="" alt="" srcset="">
                                        </div>

                                    </div>
                                    <div class="col-8 gx-2 ">
                                        <div class=" justify-contents-between align-items-center mb-2">
                                            <div><p class="s2 bold mb-0">Maize Dry Season (45day)</p></div>
                                            <span class="badge success-badge-bg badge-pills">Active</span>
                                        </div>
                                        <div class="d-flex align-items-start mb-2">
                                            <div class="sicon light-color">
                                                <span><i class="bi bi-people-fill me-3"></i></span>
                                            </div>
                                            <div class="light-color s2">
                                                <p class=" mb-0 bold">Enterprise</p>
                                                <small>Green Valley Farm</small>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-start mb-2">
                                            <div class="sicon light-color">
                                                <span><i class="bi bi-people-fill me-3"></i></span>
                                            </div>
                                            <div class="light-color s2">
                                                <p class=" mb-0 bold">Crop Type</p>
                                                <small>Crop(Maize)</small>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-start">
                                            <div class="sicon light-color">
                                                <span><i class="bi bi-geo-alt me-3"></i></span>
                                            </div>
                                            <div class="light-color s2">
                                                <p class=" mb-0 bold">Location</p>
                                                <small>Lagos, Nigeria</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-7 px-2 card mu1">
                                    <div class="row">
                                        <div class="border-0 col-12 col-md-3">
                                            <p class="s1 light-color bold">Cycle Progress</p>
                                            <P class="s4 fs-lg-2 bold mb-0">45%</P>
                                            <div class="progress mb-1 col-9">
                                                <div class="progress-bar bg-success" style="width:45%"></div>
                                            </div>
                                            <p class="s1">45 days of 100</p>
                                        </div>

                                        <div class="  border-0 col-12 col-md-2 ">
                                           <div class="row">
                                             <div class="col-6 col-lg-12">
                                                <span class="s1 light-color bold">Start Date</span>
                                            </div>

                                            <div class="col-6 col-lg-12 text-end text-lg-start ">
                                                <span class="s1 bold"><span class="me-2"><i
                                                        class="bi bi-calendar"></i></span>March 1, 2025 </span>
                                            </div>
                                           </div>
                                        </div>

                                        <div class=" border-0 col-12 col-md-3">
                                            <div class="row">
                                                <div class="col-6 col-lg-12 ">
                                                    <span class="s1 light-color bold">Expected End Date</span>

                                            
                                                </div>
                                                <div class="col-6 col-lg-12 text-end text-lg-start ">
                                                    <span class="s1 bold"><span class="me-2"><i
                                                        class="bi bi-calendar"></i></span>Jan 8, 2025 <br></b>(100 days)
                                                    </span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class=" border-0 col-12 col-md-2">
                                            <div class="row">
                                                <div class="col-6 col-lg-12">
                                                    <span class="s1 light-color bold">Days Elapsed</span>
                                                </div>
                                                <div class="col-6 col-lg-12 text-end text-lg-start">
                                                    <span class=" s1"><span class="me-2"><i class="bi bi-clock"></i></span>45 days
                                                </span>
                                                </div>
                                            </div>
                                        </div>

                                         <div class=" border-0 col-12 col-md-2">
                                            <div class="row">
                                                <div class="col-6 col-lg-12">
                                                    <span class="s1 light-color bold">Days Remaining</span>
                                                </div>
                                                <div class="col-6 col-lg-12 text-end text-lg-start ">
                                                    <span class=" s1"><span class="me-2"><i class="bi bi-clock"></i></span>45 days
                                                </span>
                                                </div>
                                            </div>
                                        </div>

                                       
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                         <div class="col-md-8  d-none d-md-block">
                            <div class="col-12 card h-100 card-custom p-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="s3 bolder">Recent Activities</h6>
                                    <p class="text-end"><a href="#" class="view-link nav-link">View all</a></p>
                                </div>

                                <div class="col-12 table-responsive">
                                    <table id="myTable" class="table table-responsive">
                                        <thead>
                                            <tr class="s2">

                                                <th scope="col" colspan="2">Activity</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Date </th>
                                                <th scope="col">Quantity/Detail</th>
                                                <th scope="col">Cost</th>
                                                <th scope="col">Record By</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody class="s1">

                                            <tr>
                                                <td><span class="badge  danger-badge-bg py-2"><i class="bi bi-egg"></i></span></td>
                                                <td>
                                                    <p class="s1 bold mb-0 p-color"> Feed the Broilers</p>
                                                    <small class="s1">provide morning food</small>
                                                </td> 

                                                <td><span class="badge success-badge-bg">Feeding</span></td>
                                                <td>May 8, 2025</td>
                                                <td><span>5kg</span></td>
                                                <td><span>₦20000</span></td>
                                                <td><span>Franklin</span></td>
                                                <td><i class="bi bi-three-dots-vertical"></i></td>
                                            </tr>

                                            <tr>
                                                <td><span class="badge success-badge-bg py-2"><i class="bi bi-egg"></i></span></td>

                                                <td>
                                                    <p class="s1 bold mb-0 p-color">Feed the Broilers</p>
                                                    <small class="s1">provide morning food</small>
                                                </td>

                                                <td><span class="badge success-badge-bg">Feeding</span></td>
                                                <td>May 8, 2025</td>
                                                <td><span>5kg</span></td>
                                                <td><span>₦20000</span></td>
                                                <td><span>Franklin</span></td>
                                                <td><i class="bi bi-three-dots-vertical"></i></td>
                                            </tr>

                                            <tr>
                                                <td><span class="badge warning-badge-bg py-2"><i class="bi bi-egg"></i></span></td>

                                                <td>
                                                    <p class="s1 bold mb-0 p-color">Feed the Broilers</p>
                                                    <small class="s1">provide morning food</small>
                                                </td>

                                                <td><span class="badge success-badge-bg">Feeding</span></td>
                                                <td>May 8, 2025</td>
                                                <td><span>5kg</span></td>
                                                <td class="s1"><span>₦20000</span></td>
                                                <td><span>Franklin</span></td>
                                                <td><i class="bi bi-three-dots-vertical"></i></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4 oder2">
                            <div class="card oder2 custom-card p-3 mb-4">
                                <div class="row">
                                    <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="s3 bolder">Financial Summary</h6>
                                    <p class="text-end"><a href="#" class="view-link s2 nav-link">View all</a></p>
                                    </div>
                                </div>
                               
                                <div class="row  justify-content-center align-items-center gap-2">
                                
                                    <div class="col-5   px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="danger-badge-bg s4 ssicon"><i class="bi bi-arrow-down"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">Total Cost</p>
                                                <p class="mb-0 s2 bolder mb-0">₦223,600</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-5  px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="success-badge-bg s4 ssicon"><i class="bi bi-arrow-up"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">Total Income</p>
                                                <p class="mb-0 s2 bolder mb-0">₦223,600</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-5  px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="primary-badge-bg s4 ssicon"><i class="bi bi-bag-plus-fill"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">Net Pofit</p>
                                                <p class="mb-0 s2 bolder mb-0">₦223,600</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-5  px-1">
                                        <div class="d-flex flex-row gap-4 align-items-center">
                                            <div class="col-2">
                                                <span class="warning-badge-bg s4 ssicon"><i class="bi bi-percent"></i></span>
                                            </div>
                                            <div class="col-auto">
                                                <p class="mb-0 s1 light-color mb-0">RIO</p>
                                                <p class="mb-0 s2 bolder mb-0">162.5%</p>
                                                <small class="s1 light-color">All Time</small>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="card  oder1 p-3">
                                <div class="top-info ">
                                    <h6 class="s3 bolder">Cycle Infomation</h6>
                                </div>
                                <div class="table-info">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td class="s2 light-color">Cycle Name</td>
                                                <td class="s2">Maize Dry Season (Day 45)</td>
                                            </tr>

                                            <tr>
                                                <td class="s2 light-color">Cycle Type</td>
                                                <td class="s2">Crop (Maize)</td>
                                            </tr>


                                            <tr>
                                                <td class="s2 light-color">Vaiety</td>
                                                <td class="s2">obadanpa</td>
                                            </tr>

                                            <tr>
                                                <td class="s2 light-color">Total Area</td>
                                                <td class="s2">5 Acres</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        

                        <!-- MOBILE ACTIVITIES -->
                        <div class="col-12  d-md-none oder3 ">
                            

                            <!-- ACTIVITY LIST -->
                            <div class="d-flex card bg-light flex-column gap-2 mt-2">
                                <div class="row">
                                 <div class="d-flex justify-content-between align-items-center px-4">
                                    <h6 class="s3 bolder">Recent Activities</h6>
                                    <p class="text-end"><a href="#" class="view-link nav-link">View all</a></p>
                                </div>
                            </div>
                                <!-- CARD -->
                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>
                                <!-- END CARD -->

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                  <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-end">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class=" mb-1 me-1 text-end">

                                                
                                               
                                                <span class="badge s1 danger-badge-bg">
                                                    20000
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>
                               

                            </div>

                        </div>


                    </div>
                </div>




                <!-- mobile sticky down nav -->
                <div class="row justify-content-between bg-white align-items-center d-md-none fixed-bottom px-3 pt-1  ">
                    <div class="col-auto text-center">
                        <a href="./index.html" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-house icon"></i>
                            </span>
                            <p class="p-color s1 bold">Home</p>
                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="./enterprise_list.html" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-grid icon"></i>
                            </span>
                            <p class="p-color s1 bolde">Enterprise</p>
                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="#" class="link">

                            <span class="footernav footer-mobile-badge rounded-2 px-2 py-1 shadow-sm text-center s6">
                                <i class="bi bi-plus "></i>
                            </span>

                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="analytics.html" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-bar-chart icon"></i>
                            </span>
                            <p class="p-color s1 bold">Analytics</p>
                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="#" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-three-dots icon"></i>
                            </span>
                            <p class="p-color s1 bold">More</p>
                        </a>

                    </div>

                </div>

            </div>
        </div>


    </div>



    <!-- mobilemenu -->
    <div class="offcanvas mobilemenu  offcanvas-start" tabindex="-1" id="mobilemenu"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">🌿 Leif</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mobilemenu-canvas">
            <div class="mobilemenu">
                <div class="menu-top-logo mb-2 text-start py-3">

                </div>

                <div class="side-menu">
                    <a href="index.html" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    <a href="enterprise_list.html"><i class="bi bi-grid"></i> Enterprise</a>
                    <a href="activities_list.html"><i class="bi bi-check-circle"></i> Activities</a>
                    <a href="assets.html"><i class="bi bi-box"></i> Assets</a>
                    <a href="task_list.html"><i class="bi bi-list-task"></i> Task</a>
                    <a href="transactions_list.html"><i class="bi bi-currency-dollar"></i> Transactions</a>
                    <a href="analytics.html"><i class="bi bi-bar-chart"></i> Analytics</a>
                    <a href="staff2.html"><i class="bi bi-people"></i> Staff</a>
                    <a href="settings.html"><i class="bi bi-gear"></i> Settings</a>
                </div>

            </div>
        </div>


        <script src="./scripts.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</body>

</html>