{% extends "extends/shell.html" %}
{% load static %}
{% block page_content %}
<!-- GREETIINGS  -->
<div class="row  justify-content-between align-items-center g-3 mb-4">


                        <div class="col-md-8">
                            <h4 class=" s4 bold mb-0">Good {{greeting}}, {{request.user.username | capfirst}}</h4>
                            <small class="s2">Here’s overview of your farm</small>
                        </div>

                        <div class="col-md-4 d-none d-md-block ">
                            <button class="btn primary-btn s2 dropdown-toggle" type="button" id="dropdownActivities"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Add New Activity
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownActivities">
                                <li class="dropdown-item" href="#">New Activity</li>
                                <li class="dropdown-item" href="#">New Cycle / Batch</li>
                                <li class="dropdown-item" href="#">Record Sales</li>
                            </ul>
                            <button class="btn s2 primary-btn">
                                Schedule Task
                            </button>
                        </div>
</div>

<!-- CARDS -->
<div class="row d-flex g-3 mb-4">

                        <div class="col-6 col-lg-3   mb-2">
                            <div class="card h-100 card-custom p-3 ">
                                <div class="top d-flex">
                                    <small class="s3">Total Assets</small>
                                    <i class="bi bi-box ms-auto"></i>
                                </div>
                                <p class=" s4 bolder mb-0">₦100,000,000</p>
                                <small class="text-dark s1">-22% from last month</small>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6  mb-2">
                            <div class="card h-100 card-custom p-3">
                                <div class="top d-flex">
                                    <small class="s3">Total Income</small>
                                    <i class="bi bi-box ms-auto"></i>
                                </div>
                                <p class=" s4 bolder mb-0">₦20,000,000</p>
                                <small class="text-dark s1">-22% from last month</small>

                            </div>
                        </div>

                        <div class="col-lg-3 col-6 mb-2">
                            <div class="card h-100 card-custom p-3">
                                <div class="top d-flex">
                                    <small class="s3">Expense</small>
                                    <i class="bi bi-box ms-auto"></i>
                                </div>
                                <p class=" s4 bolder mb-0">₦10,000,000</p>
                                <small class="text-dark s1">-22% from last month</small>

                            </div>
                        </div>

                        <div class="col-lg-3 col-6 mb-2">
                            <div class="card card-custom task-alert p-3">
                                <small>Scheduled Tasks</small>
                                <p class=" s4 bolder mb-0">20 P | 10 OVD</p>
                                <small class="s1">Pending | Overdue</small>

                            </div>
                        </div>


                        <!-- MIDDLE -->

                        <!-- TASKS -->
                        <div class="col-lg-4 oder1">
                            <div class="card h-100 card-custom p-3">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="s3 bold">Scheduled Tasks</h6>
                                    <p class="text-end"><a href="#" class="view-link nav-link">View all</a></p>
                                </div>

                                <div class="content gap-1 d-flex flex-column">
                                    {% if tasks %}
                                        {% for task in tasks %}
                                            {% if task.status == 'overdue' %}
                                                <p class="text-danger task s2"><a href="#"><i class=" bi bi-circle-fill me-2"></i>
                                                    {{task.time}}-
                                                    {{task.title | title | truncatewords:3 }}</a>
                                                </p>
                                            {% else %}
                                                <p class="text-warning task s2"><a href="#"><i class="bi bi-circle-fill me-2"></i>
                                                    {{task.time}}
                                                    - {{task.title | title | truncatewords:3}}</a>
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                                
                                                <h2 class='text-center light-color'> No Task Scheduled </h2>
                                    
                                    {% endif %}
                                    

                                </div>
                            </div>
                        </div>

                        <!-- CHART -->
                        <div class="col-lg-8 oder5">
                            <div class="card h-100 card-custom p-3">
                                <div class="d-flex justify-content-between mb-3">
                                    <h6>Income vs Expense</h6>

                                    <div class="dropdown" width="100px">
                                        <button class="btn btn-secondary chatFilter dropdown-toggle" type="button"
                                            id="dropdowncartfilter" data-bs-toggle="dropdown" aria-expanded="false">
                                            This Year
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="dropdowncartfilter">
                                            <li class="dropdown-item" href="#">Monthly</li>
                                            <li class="dropdown-item" href="#">This Cycle</li>
                                        </ul>
                                    </div>
                                </div>

                                <canvas id="chart" style="height:180px;"></canvas>
                            </div>
                        </div>



                        <!-- BOTTOM -->


                        <!-- ACTIVITIES -->
                        <div class="col-lg-8 oder2">
                            <div class="card card-custom h-100 p-3">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="s3 bold">Recent Activities</h6>
                                    <p class="text-end"><a href="{% url "activity:list" %}" class="view-link nav-link">View all</a></p>
                                </div>

                                {% if recent_activities %}
                                    {% for recent_activity in recent_activities  %}

                                         <div class="d-flex justify-content-between align-items-end border-bottom py-2">
                                            <div class="col-6">
                                                <p class="s2 bold mb-0">{{recent_activity.title | title | truncatewords:4}}</p>
                                                <small class="s1">Layers Chicken. {{recent_activity.cycle.title | capfirst}}</small>
                                            </div>
                                            <div class="side col-3">

                                                <p class="text-danger active-price s2">₦{{recent_activity.cost}}</p>
                                            </div>

                                            <div class="side col-3">
                                                <p class="s2 bold">{{recent_activity.activity_date}}</p>

                                            </div>
                                        </div>

                                    {% endfor %}
                                {% else %}
                                    <h2 class='text-center light-color' > No Activite Recorded Yet</h2>
                                {% endif %}

                            
                            </div>
                        </div>

                        <!-- SIDE -->
                        <div class="col-lg-4 oder3">

                            <div class="card insight-card  p-3 mb-3">
                                <h6 class="bold s3 mb-2"><i class="bi bi-lightbulb-fill icon"></i> Insights</h6>
                                <p class="insight mb-1">⚠️ No income recorded this week</p>
                                <p class="insight mb-1">💡 Feeding cost high</p>
                            </div>

                            <div class="card cycle-card  p-3">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="s3 bold ">Active Cycles/Batch</h6>
                                    <p class="text-end"><a href="#" class="nav-link view-link">View all</a></p>
                                </div>

                                {% if cycles %}
                                    {% for cycle in cycles %}
                                        <div class="cycle py-2 mb-3">
                                            <p class="mb-1 bold s2">{{cycle.name}} (45 days)</p>
                                            <p class="mb-0 s1">Profit: ₦200,000 </p>
                                            <div class="progress mb-2">
                                                <div class="progress-bar bg-success" style="width:45%"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <h3 class="text-center light-color"> No Cycle Created </h3>
                                {% endif %}

                               

                                

                            </div>

                        </div>

</div>


{% block dom_content %}
     <!-- JS -->
        <script>



            document.addEventListener("DOMContentLoaded", () => {
                document.documentElement.requestFullscreen();
            });

            const ctx = document.getElementById('chart');

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    datasets: [
                        {
                            label: 'Income',
                            data: [1000, 2000, 1500, 3000, 2500, 3500, 2800, 3200, 2600, 3100, 2700, 3300],
                            borderColor: '#5122E1',
                            borderWidth: 2,
                            tension: 0,
                        },
                        {
                            label: 'Expense',
                            data: [2300, 1500, 1000, 2000, 1800, 2200, 1900, 2300, 1700, 2100, 1800, 2400],
                            borderColor: '#A30C07',
                            borderWidth: 2,
                            tension: 0,

                        }
                    ]
                },
                options: {
                    maintainAspectRatio: true,

                    plugins: {
                        legend: {
                            display: false
                        },

                    },

                    scales: {
                        x: {
                            grid: {
                                display: false
                            }
                        },
                        y: {
                            grid: {
                                color: '#eee'
                            },
                            ticks: {
                                maxTicksLimit: 5
                            }
                        }
                    }
                }
            });
        </script>
{% endblock dom_content %}


{% endblock page_content %}