<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leif Dashboard</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
  

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="sidebar col-lg-2" id="sidebar">
                <div class="menu-top-logo mb-2 text-start py-3">
                    <h4 class="logo text-white">🌿 Leif</h4>
                </div>

                <div class="side-menu">
                    <a href="#" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    <a href="#"><i class="bi bi-grid"></i> Enterprise</a>
                    <a href="#"><i class="bi bi-check-circle"></i> Activities</a>
                    <a href="#"><i class="bi bi-box"></i> Assets</a>
                    <a href="#"><i class="bi bi-list-task"></i> Task</a>
                    <a href="#"><i class="bi bi-currency-dollar"></i> Transactions</a>
                    <a href="#"><i class="bi bi-bar-chart"></i> Analytics</a>
                    <a href="#"><i class="bi bi-people"></i> Staff</a>
                    <a href="#"><i class="bi bi-gear"></i> Settings</a>
                </div>
            </div>


            <!-- MAIN -->
            <div class="main  col-lg-10">

                <!-- TOP BAR -->

                <nav class="navbar topbar navbar-expand-lg navbar-light bg-light ">
                    <div class="container-fluid px-0 ">
                        <a class="navbar-brand s4" href="#">Enterprise</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#mobilemenu" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="topbar-pane">
                            <div class="row align-items-center g-auto">
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary switcher dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Green Valley Farm
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li class="dropdown-item" href="#">Poultry Farm</li>
                                            <li class="dropdown-item" href="#">Gaot Farm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row d-flex align-items-center profile-pane gap-2">
                                        <div class="profile-img col-2">
                                            <img src="https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small_2x/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"
                                                alt="" class="rounded-pill" width="32px">

                                        </div>
                                        <div class="col-auto profile-text">
                                            <p class="s2 bold mb-0">Franklin Okolo</p>
                                            <small class="s1">Farm Manager</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>


                <div class="main-content gy-2 ">
                    <!-- GREETIINGS  -->
                    <div class="d-flex greeting justify-content-between align-items-center mb-4 mt-2">


                        <div class="greeting-text">
                            <h4 class="greetings s4 bold mb-0">Manage All Your Enterprises Here</h4>
                            <small class="s2">Get to know whats Going on in each Farm</small>
                        </div>

                        <div class="greeting-actions">

                            <button class="btn s2 primary-btn">
                                + New Enterprise
                            </button>
                        </div>
                    </div>

                    <!-- CARDS -->
                    <div class="row g-3 mb-4">

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                    <div class="col-3 icons-side">
                                        <div class="  total-badge-bg sicon text-center">
                                            <i class="bi bi-grid s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Enterpise</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">9</p>
                                        <small class="text-dark s1">All Time</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                    <div class="col-3 icons-side">
                                        <div class=" warning-badge-bg sicon text-center">
                                            <i class="bi bi-ui-checks-grid s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Active Enterprise</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">6</p>
                                        <small class="text-dark s1">Currently active</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                    <div class="col-3 icons-side">
                                        <div class="primary-badge-bg sicon text-center">
                                            <i class="bi bi-people-fill s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Staffs</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">18</p>
                                        <small class="text-dark s1">All farmers</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                    <div class="col-3 icons-side">
                                        <div class=" primary-badge-bg sicon text-center">
                                            <i class="bi bi-arrow-clockwise s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Cycles</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">12</p>
                                        <small class="text-dark s1">Running cycles</small>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>


                    <!-- BOTTOM -->
                    <div class="row g-3">

                        <!-- TASKS -->
                        <div class="col-md-12">
                            <div class="card card-table px-4 h-100 p-3">
                                
                                <div class="row table-responsive">
                                    <table id="myTable" class="table ">
                                        <thead class="">
                                            <tr>
                                                
                                                <th scope="col">Enterprise</th>
                                                <th scope="col">Location </th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Status </th>
                                                <th scope="col">Staff </th>
                                                <th scope="col">Cycle</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="s4 success-badge-bg rounded px-1 me-2"><i class="fa fa-seedling"></i></span>
                                                    <span class=""> Green Valley Fam</span>
                                                </td>
                                                <td>Lagos, Nigeria</td>
                                                <td><span class="">Crops</span></td>
                                                <td><span class="badge success-badge-bg">active</span></td>
                                                <td><span class="">4</span></td>
                                                <td><span class="">2</span></td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="s4 danger-badge-bg rounded px-1 me-2"><i class="fa fa-cow"></i></span>
                                                    <span class=""> Poultry  Fam</span>
                                                </td>
                                                <td>Lagos, Nigeria</td>
                                                <td><span class="">Crops</span></td>
                                                <td><span class="badge success-badge-bg">active</span></td>
                                                <td><span class="">4</span></td>
                                                <td><span class="">2</span></td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="s4 success-badge-bg rounded px-1 me-2"><i class="fa fa-seedling"></i></span>
                                                    <span class=""> Green Valley Fam</span>
                                                </td>
                                                <td>Lagos, Nigeria</td>
                                                <td><span class="">Crops</span></td>
                                                <td><span class="badge success-badge-bg">active</span></td>
                                                <td><span class="">4</span></td>
                                                <td><span class="">2</span></td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                             <tr>
                                                <td>
                                                    <span class="s4 danger-badge-bg rounded px-1 me-2"><i class="fa fa-cow"></i></span>
                                                    <span class=""> Poultry  Fam</span>
                                                </td>
                                                <td>Lagos, Nigeria</td>
                                                <td><span class="">Crops</span></td>
                                                <td><span class="badge success-badge-bg">active</span></td>
                                                <td><span class="">4</span></td>
                                                <td><span class="">2</span></td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <span class="s4 success-badge-bg rounded px-1 me-2"><i class="fa fa-seedling"></i></span>
                                                    <span class=""> Green Valley Fam</span>
                                                </td>
                                                <td>Lagos, Nigeria</td>
                                                <td><span class="">Crops</span></td>
                                                <td><span class="badge success-badge-bg">active</span></td>
                                                <td><span class="">4</span></td>
                                                <td><span class="">2</span></td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            
                                            
                                           
                                            
                                        </tbody>
                                       
                                    </table>

                                           
                                </div>

                                <!-- pagination -->
                                <div class="d-flex flex-row justify-content-between align-item-center">
                                    <div class="col-md-6">
                                        <p class="s2 light-color">Showing 1 to 5 of 10 Enterprise</p>
                                    </div>

                                    <div class="col-md-6">
                                           
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <ul class="pagination s2">
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                                </li>
                                                <li class="page-item"><a class="page-link view-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link view-link" href="#">2</a></li>
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                                </li>
                                            </ul>
                                            </div>
                                        </div>
                                           
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- mobilemenu -->
    <div class="offcanvas  offcanvas-start" tabindex="-1" id="mobilemenu" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">🌿 Leif</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mobilemenu-canvas">
            <div class="mobilemenu">
                <div class="menu-top-logo mb-2 text-start py-3">

                </div>

                <div class="side-menu">
                    <a href="#" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    <a href="#"><i class="bi bi-grid"></i> Enterprise</a>
                    <a href="#"><i class="bi bi-check-circle"></i> Activities</a>
                    <a href="#"><i class="bi bi-box"></i> Assets</a>
                    <a href="#"><i class="bi bi-list-task"></i> Task</a>
                    <a href="#"><i class="bi bi-currency-dollar"></i> Transactions</a>
                    <a href="#"><i class="bi bi-bar-chart"></i> Analytics</a>
                    <a href="#"><i class="bi bi-people"></i> Staff</a>
                    <a href="#"><i class="bi bi-gear"></i> Settings</a>
                </div>

            </div>
        </div>
    </div>
    <!-- JS -->

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


  

</body>

</html>