{% extends "extends/shell.html" %}

{% block page_content %}
                    
                     <!-- CARDS -->
                    <div class="row gx-3 gy-2">

                        <div class="col-md-3 col-6">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center gap-2">
                                    <div class="col-3 icons-side">
                                        <div class="  total-badge-bg sicon text-center">
                                            <i class="bi bi-people-fill s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Staffs</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">20</p>
                                        <small class="text-dark s1">All Staffs</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-6">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center gap-2">
                                    <div class="col-3 icons-side">
                                        <div class=" warning-badge-bg sicon text-center">
                                            <i class="bi bi-person s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Active</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">6</p>
                                        <small class="text-dark s1">currently active</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-6 ">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center gap-2">
                                    <div class="col-3 icons-side">
                                        <div class="danger-badge-bg sicon text-center">
                                            <i class="bi bi-person s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Inactive</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">3</p>
                                        <small class="text-dark s1">Not active</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-6 ">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center gap-2">
                                    <div class="col-3 icons-side">
                                        <div class=" success-badge-bg sicon text-center">
                                            <i class="bi bi-person-workspace s5"></i>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Roles</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">3</p>
                                        <small class="text-dark s1">Job roles</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>



                    <!-- table -->
                    <div class="row g-4 pt-4">

                        <!-- Staffs -->
                        <div class="col-md-12">
                            <div class="card card-table h-100 p-3 d-none d-md-block">

                                <div class="row gy-0  bg-light py-3 justify-contents-space-between align-items-center ">
                                    
                                     <div class="col-10 col-md-8 ">
                                        <form action="#" method="get">
                                            <input type="search" name="searchAssets" id="searchAssets" placeholder="Search for Assets..." class="form-control s2" style="width='100%',">
                                        </form>
                                    </div>
                                    
                                    <div class="col-4 text-end">
                                        <a href="#" class="btn primary-btn s3"> <span class='badge badge-circle bg-white p-color s2 me-2 p-1'><i class="bi bi-plus m-auto"></i> </span> Add New Staff</a>
                                    </div>

                                    

                                   
                                </div>

                        
                                <div class="row py-2 table-responsive">
                                    <table id="myTable" class="table  ">
                                        <thead>
                                            <tr>
                                                
                                                <th scope="col">Name</th>
                                                <th scope="col">Role</th>
                                                <th scope="col">Depatment</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Joined</th>
                                                <th scope="col">Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                             <tr>
                                               
                                                <td><p><span class="rounded-circle p-1 text-white s1 bg-danger">FO</span> Franklin Okolo</p>
                                                </td>
                                                <td>
                                                    <p class="s1">Farm Manager</p>
                                                </td>
                                                <td><p class="s1">Management</p></td>
                                                <td><p class="s1">09072900602</p></td>
                                                <td><p class="s1">franklinokolo123@gmail.com</p></td>
                                                <td><p><span class="badge success-badge-bg">Active</span></p></td>
                                                <td><p class="s1">2023-05-01</p></td>
                                                <td><p><i class="bi bi-three-dots-vertical"></i></p></td>
                                            </tr>

                                             <tr>
                                               
                                                <td><p ><span class="rounded-circle p-1 text-white s1 bg-primary">MM</span> Moses Manger</p>
                                                </td>
                                                <td>
                                                    <p>Farm Supervisor</p>
                                                </td>
                                                <td><p>Operation</p></td>
                                                <td><p>09072900602</p></td>
                                                <td><p>mosesmanga121@gmail.com</p></td>
                                                <td><p><span class="badge success-badge-bg">Active</span></p></td>
                                                <td><p>2023-05-01</p></td>
                                                <td><p><i class="bi bi-three-dots-vertical"></i></p></td>
                                            </tr>

                                            
                                        </tbody>
                                    </table>
                                </div>

                                <!-- pagination -->
                                  <div class="d-flex flex-row justify-content-between align-item-center">
                                    <div class="col-md-6">
                                        <p class="s2 light-color">Showing 1 to 5 of 10 Tasks</p>
                                    </div>

                                    <div class="col-md-6">
                                           
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <ul class="pagination s2">
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                                </li>
                                                <li class="page-item"><a class="page-link view-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link view-link" href="#">2</a></li>
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                                </li>
                                            </ul>
                                            </div>
                                        </div>
                                           
                                    </div>
                                </div>
                            </div>

                             <!-- MOBILE STAFFS LIST -->
                            <div class="col-12 d-md-none">

                                <!-- STICKY TOP -->
                                <div class="mobile-sticky-header">

                                    <button class="btn primary-btn w-100 mb-3">
                                       + Add New Staff
                                    </button>

                                    

                                    <div class="row align-items-center g-2 px-1">

                                        <div class="col">
                                            <input type="search" class="form-control" placeholder="Search activity">
                                        </div>

                                        <div class="col-auto">
                                            <button class="btn bg-white shadow-sm border">
                                                <i class="bi bi-funnel"></i>
                                            </button>
                                        </div>

                                    </div>

                                </div>

                                <!-- STAFF LIST -->
                                <div class="d-flex flex-column gap-3 mt-3 mb-4">

                                    <!-- CARD -->
                                    <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>
                                    <!-- END CARD -->

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>

                                     <div class="activity-mobile-card">

                                        <div class="d-flex justify-content-between align-items-center">

                                            <div>
                                                <h6 class="mb-0 bold p-color">
                                                   <span class="badge bg-primary text-white rounded-circle p-2 me-1">FB</span> Fabian Okolo
                                                </h6>

                                            </div>

                                            <div class=" me-1">

                                                    <span class="badge s1 success-badge-bg">
                                                        Active
                                                    </span>

                                            </div>

                                            <a href="#" class="view-link">
                                                <i class="bi bi-three-dots-vertical"></i>
                                            </a>

                                        </div>

                                        
                                    </div>
                                    
                                </div>

                            </div>
                           
                        </div>

                    </div>
{% endblock page_content %}