{% extends "extends/shell.html" %}
{% block page_content %}

     <!-- GREETIINGS  -->
                    <div class="row  justify-content-between align-items-center g-3 mb-4">


                        <div class="col-md-8">
                            <h4 class=" s4 bold mb-0">Manage All Your Task Here</h4>
                            <small class="s2">Proper plan for how your farmshould run</small>
                        </div>

                        <div class="col-md-4 d-md-block d-none text-center">

                            <button class="btn s2 primary-btn">
                                + Schedule New Task
                            </button>
                        </div>
                    </div>

                    <!-- CARDS -->
                    <!-- CARDS -->
                    <div class="row g-3 mb-4">

                        <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s1 ">Total Task</span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" total-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check2-all s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">All Time</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s1 ">Pending </span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" warning-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check-circle s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">Task to do</small>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s1 ">Overdue </span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" danger-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check-circle s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">Requires attention</small>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s1 ">Completed </span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" total-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check-circle s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">This month</small>
                                </div>
                            </div>
                        </div>

                        


                      


                        <!-- TASKS -->
                        <div class="col-md-12 d-none d-md-block">
                            <div class="card card-table h-100 p-3">
                                <div class="row gy-0 justify-content-between bg-light py-3 align-items-center ">
                                    <div class="col-lg-6 d-flex gap-3 dnone">
                                        <span><a href="{% url 'task:list' %}?status=all&view=desktop" class="tab-link bold active-tab  s3">All Tasks</a></span>
                                     
                                        <span><a href="{% url 'task:list' %}?status=pending&view=desktop" class="tab-link bold">Pending <span
                                                    class="rounded-pill px-1 bg-warning text-white s1">{{count.pending|default:"0"}}</span></a></span>
                                        <span><a href="{% url 'task:list' %}?status=overdue&view=desktop" class="tab-link bold">Overdue <span
                                                    class="rounded-pill px-1 bg-danger text-white s1">{{count.overdue|default:"0"}}</span></a></span>
                                        <span><a href="{% url 'task:list' %}?status=completed&view=desktop" class="tab-link bold">Completed <span
                                                    class="rounded-pill px-1 bg-success text-white s1">{{count.completed | default:"0"}}</span></a></span>

                                    </div>

                                    <div class="col-lg-6 text-end">
                                        <form hx-get="{% url 'task:list' %}?status={{current_state}}&view=desktop" hx-target="#table-result" hx-trigger="keyup changed delay:300ms">
                                            <input type="search" class="form-control" name="searchTask" id="searchTask" placeholder="Search Task...">
                                        </form>
                                    </div>
                                </div>

                                <div class="row table-responsive py-2">
                                    <table id="myTable" class="table table-align-middle">
                                        <thead>
                                            <tr>
                                               
                                                <th scope="col"colspan='2'>Bulk Action   Task</th>
                                                <th scope="col">Cycle/Batch </th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Due Date </th>
                                                <th scope="col">Priority </th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Assigned</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody id="table-result">
                                           {% include "partials/desktop/tasks_list.html" with tasks=tasks %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- pagination -->
      <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="col-md-6">
          <p class="s2 light-color">
            Showing {{ tasks.start_index }} to {{ tasks.end_index }} of {{tasks.paginator.count }} Tasks
          </p>
        </div>

        <div class="col-md-6">
          <div class="row justify-content-end">
            <div class="col-auto">
              <ul class="pagination s2">
                {% if tasks.has_previous %}
                <li class="page-item">
                  <a
                    class="page-link view-link"
                    href="?page={{ tasks.previous_page_number }}&status={{ current_state }}&view=desktop"
                    aria-label="Previous"
                  >
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %} {% for num in tasks.paginator.page_range %}
                <li
                  class="page-item {% if tasks.number == num %}active{% endif %}"
                >
                  <a class="page-link view-link" href="?page={{ num }}&status={{ current_state }}&view=desktop">
                    {{ num }}
                  </a>
                </li>
                {% endfor %} {% if tasks.has_next %}
                <li class="page-item">
                  <a
                    class="page-link view-link"
                    href="?page={{ tasks.next_page_number }}&status={{current_state}}&view=desktop"
                    aria-label="Next"
                  >
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
                            </div>
                        </div>

                        <!-- MOBILE ACTIVITIES -->
                        <div class="col-12 d-md-none">

                            <!-- STICKY TOP -->
                            <div class="mobile-sticky-header">

                                <button class="btn primary-btn w-100 mb-3">
                                    + Schedule New Task
                                </button>

                                <div class="col-12 d-flex justify-content-between px-2 py-2 mb-3">
                                    <span class="s1 tab-link tab-active"
                                    hx-target = "#result"
                                    hx-trigger = 'click'
                                    hx-get = '{% url "task:list" %}?status=all'
                                    hx-push-url='true'
                                    >
                                       All <span class="badge success-badge-bg">{{count.total | default:"0"}}</span>
                                    </span>
                                    <span class="s1 tab-link"
                                    hx-get = "{% url "task:list" %}?status=pending"
                                    hx-trigger = "click" hx-target = "#result" hx-push-url='true'>
                                       Pending <span class="badge warning-badge-bg">{{count.pending | default:"0"}}</span>
                                    </span>
                                    <span class="s1 tab-link"
                                    hx-get = "{% url "task:list" %}" hx-vals = '{"status" : "overdue"}'
                                    hx-trigger = "click" hx-target = "#result" hx-push-url = 'true' >
                                       Overdue <span class="badge danger-badge-bg">{{count.overdue| default:"0"}}</span>
                                    </span>
                                    <span class="s1 tab-link"
                                    hx-get = "{% url "task:list" %}?status=completed"
                                    hx-trigger = "click" hx-target = "#result" hx-push-url='true'>
                                       Done <span class="badge success-badge-bg">{{count.completed | default:"0"}}</span>
                                    </span>
                                    
                                </div>

                                <div class="row align-items-center g-2 px-1">

                                    <div class="col">
                                        <input type="search" class="form-control" placeholder="Search activity">
                                    </div>

                                    <div class="col-auto">
                                        <button class="btn bg-white shadow-sm border">
                                            <i class="bi bi-funnel"></i>
                                        </button>
                                    </div>

                                </div>

                            </div>

                            <!-- TASK LIST -->
                            <div class="d-flex gap-3 flex-column mt-3" id="result">
                            {% include 'partials/tasks_list.html' with tasks=tasks %}
                            </div>
                            </div>

                        </div>


                    </div>

{% endblock page_content %}
              



