<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leif Dashboard</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="./style.css">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- SIDEBAR -->
            <div class="sidebar col-lg-2" id="sidebar">
                <div class="menu-top-logo mb-2 text-start py-3">
                    <h4 class="logo text-white">🌿 Leif</h4>
                </div>

                <div class="side-menu">
                    <a href="#" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    <a href="#"><i class="bi bi-grid"></i> Enterprise</a>
                    <a href="#"><i class="bi bi-check-circle"></i> Activities</a>
                    <a href="#"><i class="bi bi-box"></i> Assets</a>
                    <a href="#"><i class="bi bi-list-task"></i> Task</a>
                    <a href="#"><i class="bi bi-currency-dollar"></i> Transactions</a>
                    <a href="#"><i class="bi bi-bar-chart"></i> Analytics</a>
                    <a href="#"><i class="bi bi-people"></i> Staff</a>
                    <a href="#"><i class="bi bi-gear"></i> Settings</a>
                </div>
            </div>


            <!-- MAIN -->
            <div class="main  col-lg-10 ">

                <!-- TOP BAR -->

                <nav class="navbar topbar navbar-expand-lg navbar-light bg-light ">
                    <div class="container-fluid px-0 ">
                        <a class="navbar-brand s4" href="#">Dashboard</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#mobilemenu" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="topbar-pane">
                            <div class="row align-items-center g-auto">
                                <div class="col-auto">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary switcher dropdown-toggle" type="button"
                                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            Green Valley Farm
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li class="dropdown-item" href="#">Poultry Farm</li>
                                            <li class="dropdown-item" href="#">Gaot Farm</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="row d-flex align-items-center profile-pane gap-2">
                                        <div class="profile-img col-2">
                                            <img src="https://static.vecteezy.com/system/resources/thumbnails/002/002/403/small_2x/man-with-beard-avatar-character-isolated-icon-free-vector.jpg"
                                                alt="" class="rounded-pill" width="32px">

                                        </div>
                                        <div class="col-auto profile-text">
                                            <p class="s2 bold mb-0">Franklin Okolo</p>
                                            <small class="s1">Farm Manager</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>


                <div class="main-content mb-5">
                    <!-- GREETIINGS  -->
                    <div class="row  justify-content-between align-items-center g-3 mb-4">


                        <div class="col-md-8">
                            <h4 class=" s4 bold mb-0">Manage All Your Task Here</h4>
                            <small class="s2">Proper plan for how your farmshould run</small>
                        </div>

                        <div class="col-md-4 d-md-block d-none text-center">

                            <button class="btn s2 primary-btn">
                                + Schedule New Task
                            </button>
                        </div>
                    </div>

                    <!-- CARDS -->
                    <!-- CARDS -->
                    <div class="row g-3 mb-4">

                        <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s2 ">Total Task</span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" total-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check2-all s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">All Time</small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s2 ">Pending </span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" warning-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check-circle s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">Task to do</small>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s2 ">Overdue </span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" danger-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check-circle s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">Requires attention</small>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-3 col-6">
                            <div class="card h-100 card-custom px-3 py-3 ">
                                <div class="col-auto d-flex flex-column ">
                                    <div class=" oder2 ps-lg-5">
                                        <span class="s2 ">Completed </span>
                                    </div>
                                    <div class="  d-flex justify-content-start align-items-center oder1 ">
                                        <div class=" total-badge-bg me-2 sicon text-cente">
                                            <i class="bi bi-check-circle s4"></i>
                                        </div>
                                        <div class="col-auto text-center"> <span class="bolder s4 ">20</span></div>
                                    </div>
                                    <small class="text-dark s1 oder3 ps-lg-5 mb-0">This month</small>
                                </div>
                            </div>
                        </div>

                        


                        <!-- BOTTOM -->


                        <!-- TASKS -->
                        <div class="col-md-12 d-none d-md-block">
                            <div class="card card-table h-100 p-3">
                                <div class="row gy-0 justify-content-between bg-light py-3 align-items-center ">
                                    <div class="col-lg-6 d-flex gap-3 dnone">
                                        <span><a href="#" class="tab-link bold active-tab s3">All Tasks</a></span>
                                        <span><a href="#" class="tab-link bold">Pending <span
                                                    class="rounded-pill px-1 bg-warning text-white s1">6</span></a></span>
                                        <span><a href="#" class="tab-link bold">Overdue <span
                                                    class="rounded-pill px-1 bg-danger text-white s1">6</span></a></span>
                                        <span><a href="#" class="tab-link bold">Completed <span
                                                    class="rounded-pill px-1 bg-success text-white s1">30</span></a></span>

                                    </div>

                                    <div class="col-lg-6 text-end">
                                        <form action="#" method="get">
                                            <input type="search" name="searchTask" id="searchTask" placeholder="Search Task...">
                                        </form>
                                    </div>
                                </div>

                                <div class="row table-responsive py-2">
                                    <table id="myTable" class="table table-align-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <input type="checkbox" name="task1" class="form-contols">
                                                </th>
                                                <th scope="col">Task</th>
                                                <th scope="col">Cycle/Batch </th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Due Date </th>
                                                <th scope="col">Priority </th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Assigned</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">
                                                    <input type="checkbox" name="task1" class="form-contols">
                                                </th>
                                                <td><p class="s2 bold mb-0 p-color">Feed the Broilers</p>
                                                    <small class="s1">provide morning food</small>
                                                </td>
                                                <td>
                                                    <p class="s2 mb-0 bold p-color">Poultry Batch A</p>
                                                    <small class="s1"> Week 3</small></td>
                                                <td><span class="badge success-badge-bg">Feeding</span></td>
                                                <td><p class="mb-0">May 8, 202</p> <small><span class="danger-color">58:00 am</span> </small></td>
                                                <td><span class="badge danger-badge-bg">High</span></td>
                                                <td><span class="badge danger-badge-bg">Overdue</span></td>
                                                <td><span class="badge bg-success rounded-pill py-1">OF</span> <span>Okolo Franklin</span></td>
                                                <td><i class="bi bi-three-dots-vertical"></i></td>
                                            </tr>


                                            <tr>
                                                <th scope="row">
                                                    <input type="checkbox" name="task1" class="form-contols">
                                                </th>
                                                <td><p class="s2 bold mb-0 p-color">Vaccinationation for new broilers</p>
                                                    <small class="s1">Vaccination for broiler</small>
                                                </td>
                                                <td>
                                                    <p class="s2 mb-0 bold p-color">Poultry Batch A</p>
                                                    <small class="s1"> Week 3</small></td>
                                                <td><span class="badge success-badge-bg">Treatment</span></td>
                                                <td><p class="mb-0">May 8, 202</p> <small><span class="warning-color">58:00 am</span> </small></td>
                                                <td><span class="badge danger-badge-bg">High</span></td>
                                                <td><span class="badge warning-badge-bg">Pending</span></td>
                                                <td><span class="badge bg-success rounded-pill py-1">AG</span> <span>Alex Gideon</span></td>
                                                <td><i class="bi bi-three-dots-vertical"></i></td>
                                            </tr>

                                            

                                            
                                            
                                        </tbody>
                                    </table>
                                </div>

                                <!-- pagination -->
                                  <div class="d-flex flex-row justify-content-between align-item-center">
                                    <div class="col-md-6">
                                        <p class="s2 light-color">Showing 1 to 5 of 10 Tasks</p>
                                    </div>

                                    <div class="col-md-6">
                                           
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <ul class="pagination s2">
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                                </li>
                                                <li class="page-item"><a class="page-link view-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link view-link" href="#">2</a></li>
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                                </li>
                                            </ul>
                                            </div>
                                        </div>
                                           
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- MOBILE ACTIVITIES -->
                        <div class="col-12 d-md-none">

                            <!-- STICKY TOP -->
                            <div class="mobile-sticky-header">

                                <button class="btn primary-btn w-100 mb-3">
                                    + Schedule New Task
                                </button>

                                <div class="col-12 d-flex justify-content-between px-2 py-2 mb-3">
                                    <span class="s1 tab-link tab-active">
                                       All <span class="badge success-badge-bg">100</span>
                                    </span>
                                    <span class="s1 tab-link">
                                       Pending <span class="badge warning-badge-bg">10</span>
                                    </span>
                                    <span class="s1 tab-link">
                                       Overdue <span class="badge danger-badge-bg">10</span>
                                    </span>
                                    <span class="s1 tab-link">
                                       Done <span class="badge success-badge-bg">10</span>
                                    </span>
                                    
                                </div>

                                <div class="row align-items-center g-2 px-1">

                                    <div class="col">
                                        <input type="search" class="form-control" placeholder="Search activity">
                                    </div>

                                    <div class="col-auto">
                                        <button class="btn bg-white shadow-sm border">
                                            <i class="bi bi-funnel"></i>
                                        </button>
                                    </div>

                                </div>

                            </div>

                            <!-- ACTIVITY LIST -->
                            <div class="d-flex flex-column gap-3 mt-3">

                                <!-- CARD -->
                                <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>
                                <!-- END CARD -->

                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                                 <div class="activity-mobile-card">

                                    <div class="d-flex justify-content-between align-items-start">

                                        <div>
                                            <h6 class="mb-0 bold p-color">
                                                Feed the Broilers
                                            </h6>

                                            <small class=" ">
                                                Poultry Batch A
                                            </small>
                                            <p class="s1 mb-0 mt-1 light-color">
                                                    May 8, 8:00am
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-end align-items-center gap-2 mb-1 me-1">

                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    high
                                                </span>
                                                
                                                <span class="badge s1 danger-badge-bg">
                                                    Overdue
                                                </span>

                                        </div>

                                        <a href="#" class="view-link">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>

                                    </div>

                                    
                                </div>

                               

                            </div>

                        </div>


                    </div>
                </div>




                <!-- mobile sticky down nav -->
                <div class="row justify-content-between bg-white align-items-center d-md-none fixed-bottom px-3  g-3">
                    <div class="col-auto text-center">
                        <a href="./index.html" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-house icon"></i>
                            </span>
                            <p class="p-color s1 bold">Home</p>
                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="./enterprise_list.html" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-grid icon"></i>
                            </span>
                            <p class="p-color s1 bolde">Enterprise</p>
                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="#" class="link">

                            <span class="footernav footer-mobile-badge rounded-2 p-2 shadow-sm text-center s6">
                                <i class="bi bi-plus "></i>
                            </span>

                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="#" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-bar-chart icon"></i>
                            </span>
                            <p class="p-color s1 bold">Analytics</p>
                        </a>

                    </div>

                    <div class="col-auto text-center">
                        <a href="#" class="link">

                            <span class="footernav p-color">
                                <i class="bi bi-three-dots icon"></i>
                            </span>
                            <p class="p-color s1 bold">More</p>
                        </a>

                    </div>

                </div>

            </div>
        </div>


    </div>



    <!-- mobilemenu -->
    <div class="offcanvas mobilemenu  offcanvas-start" tabindex="-1" id="mobilemenu"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">🌿 Leif</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body mobilemenu-canvas">
            <div class="mobilemenu">
                <div class="menu-top-logo mb-2 text-start py-3">

                </div>

                <div class="side-menu">
                    <a href="#" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    <a href="#"><i class="bi bi-grid"></i> Enterprise</a>
                    <a href="#"><i class="bi bi-check-circle"></i> Activities</a>
                    <a href="#"><i class="bi bi-box"></i> Assets</a>
                    <a href="#"><i class="bi bi-list-task"></i> Task</a>
                    <a href="#"><i class="bi bi-currency-dollar"></i> Transactions</a>
                    <a href="#"><i class="bi bi-bar-chart"></i> Analytics</a>
                    <a href="#"><i class="bi bi-people"></i> Staff</a>
                    <a href="#"><i class="bi bi-gear"></i> Settings</a>
                </div>

            </div>
        </div>


        <script src="./scripts.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

</body>

</html>