{% extends "extends/shell.html" %}
{% block page_content %}
         
                     

                    <!-- CARDS -->
                    <div class="row gx-3 mb-4 ">

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                  
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Income</small>
                                            <p class=" s4 bolder">₦2,600,000</p>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                    
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Expenses</small>
                                            <p class=" s4 bolder ">₦1,250,000</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                    
                                    <div class="col-auto">
                                        <div class="top ">
                                            <small class="s3">Total Peofit</small>
                                            <p class=" s4 bolder ">₦1,800,000</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="card card-custom p-3 ">
                                <div class="row align-items-center">
                                   
                                        <div class="top mb-0 ">
                                            <small class="s2">Total Transaction</small>
                                        </div>
                                        <p class=" s4 bolder mb-0">28</p>
                                        <small class="text-dark s1">This Period</small>
                                </div>
                            </div>
                        </div>



                    </div>


                    <!-- BOTTOM -->
                    <div class="row g-3">
                         
                        <!-- TASKS -->
                        <div class="col-md-12">
                            <div class="card card-table px-4 h-100 p-3">
                            <div class="row gy-0 mb-3  py-3 justify-contents-space-between align-items-center ">
                                                                
                                    <div class="col-10 col-md-8 ">
                                    <form action="#" method="get">
                                        <input type="search" name="searchAssets" id="searchAssets" placeholder="Search for Transactions..." class="form-control s2" style="width='100%',">
                                    </form>
                                    </div>
                                                                
                                    <div class="col-4 text-end">
                                    <button class='btn primary-btn s3' data-bs-toggle="modal" data-bs-target="#modalform"> <span class='badge badge-circle bg-white p-color s2 me-2 p-1'><i class="bi bi-plus m-auto"></i> </span> Add New Staff</button>
                                    </div>
                                                
                            </div>
                                <div class="row table-responsive">
                                    <table id="myTable" class="table ">
                                        <thead class="">
                                            <tr>
                                                
                                                <th scope="col">Date</th>
                                                <th scope="col">Description </th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Type </th>
                                                <th scope="col">Amount (₦)</th>
                                                <th scope="col">Payment Method</th>
                                                <th scope="col">Action</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                               
                                                <td scope="row">May 7, 2025</td>
                                                <td>Sold 200 Broilers</td>
                                                <td>Sales</td>
                                                <td><span class="badge success-badge-bg">Income</span></td>
                                                <td>600000</td>
                                                <td>Cash</td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            <tr>
                                               
                                                <td>May 7, 2025</td>
                                                <td>Sold 200 Broilers</td>
                                                <td>Sales</td>
                                                <td><span class="badge success-badge-bg">Income</span></td>
                                                <td>600000</td>
                                                <td>Cash</td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            <tr>
                                               
                                                <td>May 7, 2025</td>
                                                <td>Labour Pyment</td>
                                                <td>Labour</td>
                                                <td><span class="badge danger-badge-bg">Expenses</span></td>
                                                <td>10000</td>
                                                <td>Tansafer</td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                            <tr>
                                               
                                                <td>May 7, 2025</td>
                                                <td>Sold 200 Broilers</td>
                                                <td>Sales</td>
                                                <td><span class="badge success-badge-bg">Income</span></td>
                                                <td>600000</td>
                                                <td>Cash</td>
                                                <td><a href="#" class="view-link"><i class="bi bi-three-dots-vertical"></i></a></td>
                                            </tr>

                                        </tbody>
                                       
                                    </table>

                                           
                                </div>

                                <!-- pagination -->
                                <div class="d-flex flex-row justify-content-between align-item-center">
                                    <div class="col-md-6">
                                        <p class="s2 light-color">Showing 1 to 5 of 10 Transactions</p>
                                    </div>

                                    <div class="col-md-6">
                                           
                                        <div class="row justify-content-end">
                                            <div class="col-auto">
                                                <ul class="pagination s2">
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                                </li>
                                                <li class="page-item"><a class="page-link view-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link view-link" href="#">2</a></li>
                                                <li class="page-item">
                                                <a class="page-link view-link" href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                                </li>
                                            </ul>
                                            </div>
                                        </div>
                                           
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>

 {% endblock page_content %}     
