{% for activity in activities %}
<a href="#" class="activity">
    <div class=" py-2 d-flex justify-content-between activity-item">
        <div>
            <small>{{activity.title}}</small><br>
            <small>{{activity.cycle.name}}</small>
        </div>
        <div class="text-end">
            <small>{{activity.activity_type}}</small><br>
            <small>{{activity.activity_date}}</small>
        </div>
    </div>
</a>

{% empty %}
<p class="text-muted">No activities yet</p>
{% endfor %}