<form 
  hx-post="{% url 'activities:activity_create' %}" 
  hx-target="#activityFormContainer"
  hx-swap="innerHTML"
>

  {% csrf_token %}

  <!-- TITLE -->
  <div class="mb-3">
    <label class="form-label">Title</label>
    {{ form.title }}
    <div class="text-danger small">{{ form.title.errors }}</div>
  </div>

  <!-- CYCLE -->
  <div class="mb-3">
    <label class="form-label">Cycle</label>
    {{ form.cycle }}
    <div class="text-danger small">{{ form.cycle.errors }}</div>
  </div>


  <!-- TYPE -->
  <div class="mb-3">
    <label class="form-label">Activity Type</label>
    {{ form.activity_type }}
    <div class="text-danger small">{{ form.activity_type.errors }}</div>
  </div>

  <!-- QUANTITY -->
  <div class="mb-3">
    <label class="form-label">Quantity</label>
    {{ form.quantity }}
    <div class="text-danger small">{{ form.quantity.errors }}</div>
  </div>

  <!-- UNIT -->
  <div class="mb-3">
    <label class="form-label">Unit</label>
    {{ form.unit }}
  </div>

  <!-- COST -->
  <div class="mb-3">
    <label class="form-label">Cost</label>
    {{ form.cost }}
    <div class="text-danger small">{{ form.cost.errors }}</div>
  </div>

  <!-- DATE -->
  <div class="mb-3">
    <label class="form-label">Date</label>
    {{ form.activity_date }}
    <div class="text-danger small">{{ form.date.errors }}</div>
  </div>

  <!-- DESCRIPTION -->
  <div class="mb-3">
    <label class="form-label">Description</label>
    {{ form.description }}
  </div>

  <!-- ACTION -->
  <div class="d-flex justify-content-end gap-2">
    <button type="button" class="btn btn-light" data-bs-dismiss="modal">
      Cancel
    </button>

    <button class="btn btn-dark" type="submit">
      Save Activity
    </button>
  </div>

</form>